.three {
	width: 100%;
	position: absolute;
	box-sizing: border-box;
}

.table {
	display: table;
    border-collapse: separate;
}

.table-data-score {
	color: white;
	font-size: 16px;
}

.table-data-name {
	color: white;
	font-size: 16px;
}

h1 {
	color: white;
}

.input {
	color: #18BC9C;
}

button {
	color: #18BC9C;
}

.save-score-button {
	color: #18BC9C;
}

.append-logout {
	text-align: right;
	color: white;
}

.box {
	width: 480px;
	height: 320px;
	background-color: white;
}