body {
	font-family: helvetica;
}

.three {
	width: 100%;
	position: absolute;
	box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 5px solid white;
}



td {
	padding-top: 4px;
	padding-bottom: 6px;
	font-size: 16px;
}

th {
	text-align: center;
	padding: 12px;
	font-size: 32px;
	width: 262.5px;
}

h1 {
	color: white;
}

.input {
	color: #18BC9C;
	font-size: 16px;
}

.form-category {
	font-size: 18px;
}

button {
	color: #18BC9C;
}

.save, .load {
	color: white;
	background-color: #18BC9C;
	border: 5px solid white;
	font-size: 32px;
	width: 160px;
	height: 57px;
}

.append-logout {
	text-align: right;
	color: white;
}

.box {
	width: 480px;
	height: 320px;
	background-color: white;
}

.form-head {
	font-size: 40px;
}

.saved-score-box-form {
	font-size: 32px;
	margin-top: -10%;
}

#myLink {
	font-size: 32px;
}

#myCanvas {
	border: 5px solid white;
}

@media only screen and (max-width: 768px) {
	#myCanvas {
		width: 100%;
	}

	.high-scores-column {
		width: 100%;
	}

	.scores-table {
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
	}
}

.instructions {
	font-family: helvetica;
	font-size: 18px;
}

.game-over {
	font-size: 24px;
}

.toggle-load-button {
	background-color: grey;
	font-style: italic;
	cursor: not-allowed;
}

.logout-button {
	cursor: pointer;
	font-size: inherit;
}

@media only screen and (max-width: 800px) {
	/*.navbar-header {
		width: 45%;
	}

	.page-scroll {
		width: 50%;
	}

	.append-logout {
		float: right;
	}

	.logout-button {
		float: right;
	}*/
	.page-scroll {
		font-size: 2px;
	}
	.append-logout {
		font-size: 2px;
	}
}

@media only screen and (max-width: 414px) {
	.hidden {
		visibility: visible;
	}
}

.about-section {
	color: #2C3E50;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #2C3E50;
	border-radius: 30px;
	padding: 1%;
	text-align: center;
}

.start-game {
	background-color: #18BC9C;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: block;
	margin: 0 auto;
}
